################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Barcode/.vs/Barcode/v16/Server/sqlite3
