.text {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-variant: normal;
    line-height: 2vw;
    color: black;
}

#line1 {
    font-size: 2.5vw;
    font-weight: 400;
}

#line2 {
    font-size: 1vw;
    font-weight: 300;
}

.button {
    font-weight: 200;
    text-align: right;
    font-family: Arial;
}

.ag-theme-alpine {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    height: 85%;
}




