.text {
    position: absolute;
    left: 10%;
    top: 20%;
    bottom: 20%;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-variant: normal;
    line-height: 4vw;
    color: black;
}

.text1 {
    font-size: 4.5vw;
    font-weight: 400;
}

.text2 {
    font-size: 3vw;
    font-weight: 300;
}

.gif {
    width: 25vw;
}

.my-input {
    border-color: transparent;
    float: left;
}

input:focus {
    outline: none;
    color: transparent;
}





